* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15vh;
}

h1{
    font-family: 'Montserrat';
    width: 248px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1px;
    background: linear-gradient(174.92deg, #EF6C00 18.47%, #DB6300 36.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

hr {
    width: 205px;
    height: 1px;
    background: #CFCFCF;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 70vh;
}

#numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#digit {
    display: flex;
    flex-direction: column;
}

#digits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: row;
}
  
.part-up {
    border: ridge 10px transparent;
    width: 70px;
    height: 100px;
    margin-bottom: -10px;
}

.part-down {
    border: ridge 10px transparent;
    width: 70px;
    height: 100px;
}

.d0 .part-up {
    border-top-color: #000;
    border-right-color: #000;
    border-left-color: #000;
}

.d0 .part-down {
    border-bottom-color: #000;
    border-right-color: #000;
    border-left-color: #000;
}

.d1 .part-up {
    border-right-color: #000;
}

.d1 .part-down {
    border-right-color: #000;
}

.d2 .part-up {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
}

.d2 .part-down {
    border-left-color: #000;
    border-bottom-color: #000;
    border-top-color: #000;

}

.d3 .part-up {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
}

.d3 .part-down {
    border-right-color: #000;
    border-bottom-color: #000;
    border-top-color: #000;
}

.d4 .part-up {
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
}

.d4 .part-down {
    border-right-color: #000;
    border-top-color: #000;   
}

.d5 .part-up {
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #000;
}

.d5 .part-down {
    border-right-color: #000;
    border-top-color: #000;
    border-bottom-color: #000;
}

.d6 .part-up {
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #000;
}

.d6 .part-down {
    border-color: #000;
}

.d7 .part-up {
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: #000;
}

.d7 .part-down {
    border-right-color: #000;
}

.d8 .part-up {
    border-color: #000;
}

.d8 .part-down {
    border-color: #000;
}

.d9 .part-up {
    border-color: #000;
}

.d9 .part-down {
    border-right-color: #000;
}

.last-block {
    height: 15vh;
    width: 297px;
}

.button-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-string {
    margin: 5px;
    color: rgb(204, 51, 0);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1px;
    text-align: left;
}

#enter-number {
    width: 217px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin-right: 11px;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#enter-number:focus {
    outline: 1px solid #FF6600;
    border: none;
}

#send-number {
    width: 70px;
    cursor: pointer;
    height: 42px;
    background: linear-gradient(174.92deg, #EF6C00 18.47%, #DB6300 36.57%);
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: white;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.send-number:hover {
    transition: 0.5s ease-in-out;
    background-color: #EF6C00;
    box-shadow:  #EF6C00 0px 0px 20px 0px;
    letter-spacing: 1px;
}

#message {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1px;
}

#button-restart button {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    width: 130px;
    height: 42px;
    background: linear-gradient(180deg, #434854 0%, #9E9E9E 100%);
    border-radius: 4px;
    color: white;
    border: none;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#button-restart button:hover {
    transition: 0.5s ease-in-out;
    background-color: #434854;
    box-shadow:  #434854 0px 0px 20px 0px;
    letter-spacing: 1px;    
}





